<div class="max-w-2xl pt-20 mx-auto p-8">
  <div class="text-4xl text-blue-600 font-semibold">Generate your COVID-19 vaccination record for iOS</div>
  <img src="images/card.webp" alt="iOS COVID-19 vaccination record card in wallet" class="py-4">
  <div>We built an app to help you generate your Quebec vaccination proof. Although <a href="https://apps.apple.com/ca/app/vaxicode/id1571692711" class="text-blue-500 underline">VaxiCode</a> was created by the government, we find that it can be improved by adding wallet support for iOS. </div>

  <div class="pt-4 font-bold" id="how-does-it-work">How does it work?</div>
  <div>Using our application, you can scan the vaccination proof provided by the government and we embed the information into an iOS pass that you can use in the wallet application. Once the pass is generated, you can delete the application and the pass will remain in your wallet.</div>

  <div class="pt-4 font-bold" id="wtf-are-you-doing-with-my-data">What are you doing with my data?</div>
  <div>We do not store any information you provide to us. We only use it to generate a signed iOS pass that we let you add to your wallet. You can view our source code on <a href="https://github.com/jusleg/qc-vaccine-pass" class="text-blue-500 underline">GitHub</a>.</div>

  <div class="pt-4 font-bold" id="missing-qr-code">I do not have my QR code, what can I do?</div>
  <div>You can use the <a href="https://covid19.quebec.ca/PreuveVaccinale" class="text-blue-500 underline">self-service portal</a> to download your digital proof of vaccination.</div>

  <div class="pt-4 font-bold" id="missing-qr-code">How can I get in touch?</div>
  <div><a href="https://twitter.com/jusleg" class="text-blue-500 underline">@jusleg</a> on Twitter.</div>

  <div class="pt-4 text-gray-500">
    <a href="https://famingolabs.com" class="underline">Famingo Labs</a>, <%= Time.now.year %>
  </div>
</div>
