<div class="max-w-2xl pt-20 mx-auto p-8">
  <div class="text-4xl font-semibold">Something went wrong...</div>
  <div class="pt-8"><a href="/" class="p-2 rounded rounded-full border-2 border-black hover:bg-black hover:text-white">return to homepage</a></div>

  <div class="pt-8 text-gray-500">
    <a href="https://famingolabs.com" class="underline">Famingo Labs</a>, <%= Time.now.year %>
  </div>
</div>
