<!doctype html>

<html lang=<%= locale %>>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/javascript/jsqrscanner.nocache.js"></script>
  <script type="text/javascript" src="/javascript/shc-parser.bundle.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    .qrPreviewVideo {
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="flex h-screen justify-center items-center">
    <div class="qrscanner mx-auto" id="scanner">
    </div>
  </div>
  <div style="display: none;">
    <form action="/api/pass" method="post" id="form">
      <input type="text" id="raw_shc" name="raw_shc" >
      <input type="text" id="qr_content" name="qr_content" >
    </form>
  </div>

  <script type="text/javascript">
    function onQRCodeScanned(scannedText) {
        var scannedCode = window.parseShc(scannedText)
        document.getElementById("raw_shc").value = scannedText;
        document.getElementById("qr_content").value = JSON.stringify(scannedCode);
        document.getElementById("form").submit();
    }

    //this function will be called when JsQRScanner is ready to use
    function JsQRScannerReady()
    {
        //create a new scanner passing to it a callback function that will be invoked when
        //the scanner succesfully scan a QR code
        var jbScanner = new JsQRScanner(onQRCodeScanned);
        //reduce the size of analyzed images to increase performance on mobile devices
        jbScanner.setSnapImageMaxSize(1024);
        var scannerParentElement = document.getElementById("scanner");
        if(scannerParentElement)
        {
    	    //append the jbScanner to an existing DOM element
          jbScanner.appendTo(scannerParentElement);
        }
    }
  </script>
</body>
</html>
